# ¬°Hola Valerio! üòä

Mi nombre es **Alejandro Castellanos** y hoy tengo el placer de ser el revisor de tu proyecto.

Voy a revisar todo tu c√≥digo con detalle, buscando tanto los puntos fuertes como aquellos en los que podr√≠as mejorar. Te dejar√© comentarios a lo largo del notebook, destacando lo que has hecho bien y sugiriendo ajustes donde sea necesario. Si encuentro alg√∫n error, no te preocupes, te lo har√© saber de forma clara y te dar√© informaci√≥n √∫til para que puedas corregirlo en la pr√≥xima. Si en alg√∫n punto tienes comentarios, si√©ntete libre de dejarlos tambi√©n.


Encontrar√°s mis comentarios espec√≠ficos dentro de cajas verdes, amarillas o rojas, es muy importante que no muevas, modifiques o borres mis comentarios, con el fin de tener un seguimiento adecuado de tu proceso.:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>
</div>

A continuaci√≥n te dejar√© un comentario general con mi valoraci√≥n del proyecto. **¬°Mi objetivo es que sigas aprendiendo y mejorando con cada paso!**

----

<div class="alert alert-block alert-success">
<b>Comentario General del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Valerio has cumplido de manera sobresaliente con todos los objetivos propuestos, demostrando una capacidad t√©cnica y anal√≠tica realmente destacable. Tu dominio de SQL es extraordinario, evidenciando un manejo experto que va m√°s all√° de las cl√°usulas b√°sicas, integrando subtablas y t√©cnicas avanzadas de agrupamiento de datos con una gran precisi√≥n. √âxitos en tu pr√≥ximo Sprint üöÄ
    
*Estado del Proyecto:* **Aprobado**

</div>

----

In [1]:
# import libraries 
import pandas as pd 
from sqlalchemy import create_engine
from sqlalchemy import text

# proyecto SQL:
La pandemia de coronavirus cambi√≥ dr√°sticamente los h√°bitos de las personas, llev√°ndolas a pasar m√°s tiempo en casa, lo que increment√≥ el inter√©s por la lectura. Esto ha impulsado a startups a crear aplicaciones para los amantes de los libros.

Objetivo:
Analizar una base de datos que contiene informaci√≥n sobre libros, editoriales, autores, calificaciones y rese√±as de clientes, con el fin de generar una propuesta de valor para un nuevo producto en este mercado emergente.

In [2]:
# importar librer√≠as
import pandas as pd
from sqlalchemy import create_engine


db_config = {'user': 'practicum_student',         # nombre de usuario
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # contrase√±a
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # puerto de conexi√≥n
             'db': 'data-analyst-final-project-db'}          # nombre de la base de datos

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                     db_config['pwd'],
                                                                       db_config['host'],
                                                                       db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
# Conectar y ejecutar una consulta
with engine.connect() as connection:
    result = connection.execute(text("SELECT version();"))
    db_version = result.fetchone()
    print("Versi√≥n de la base de datos:", db_version[0])

Versi√≥n de la base de datos: PostgreSQL 14.12 (Ubuntu 14.12-201-yandex.53249.ae65d30249) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit

<div class="alert alert-block alert-warning">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Siempre es recomendable realizar una previsualizaci√≥n de las tablas con las que vas a trabjar, para indetificar su estructura y contenido general.

</div>

# Ejercicios:

Encuentra el n√∫mero de libros publicados despu√©s del 1 de enero de 2000.

In [4]:
# Consulta para contar libros publicados despu√©s del 1 de enero de 2000
query = """
SELECT COUNT(*) AS num_books
FROM books
WHERE publication_date > '2000-01-01';
"""

# Ejecutar la consulta y guardar el resultado en un DataFrame
with engine.connect() as connection:
    result = pd.read_sql(query, connection)

# Mostrar el resultado
print("N√∫mero de libros publicados despu√©s del 1 de enero de 2000:", result['num_books'][0])

N√∫mero de libros publicados despu√©s del 1 de enero de 2000: 819

Este an√°lisis permite evaluar la producci√≥n editorial reciente, lo que puede ser √∫til para entender tendencias y cambios en la industria del libro.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Valerio has contabilizado correctamente el registro de los libros.
</div>

Encuentra el n√∫mero de rese√±as de usuarios y la calificaci√≥n promedio para cada libro.

In [5]:
# Consulta para contar rese√±as y calcular calificaci√≥n promedio por libro
query = """
SELECT 
    b.book_id,
    COUNT(r.review_id) AS num_reviews,
    AVG(rt.rating) AS average_rating
FROM 
    books b
LEFT JOIN 
    reviews r ON b.book_id = r.book_id
LEFT JOIN 
    ratings rt ON b.book_id = rt.book_id
GROUP BY 
    b.book_id
ORDER BY 
    b.book_id;
"""

# Ejecutar la consulta y guardar el resultado en un DataFrame
with engine.connect() as connection:
    result = pd.read_sql(query, connection)

# Mostrar el resultado
result.head()

   book_id  num_reviews  average_rating
0        1            6        3.666667
1        2            2        2.500000
2        3            9        4.666667
3        4            4        4.500000
4        5           24        4.000000

Este an√°lisis proporciona una visi√≥n clara de la interacci√≥n de los lectores con cada libro, destacando tanto la cantidad de rese√±as como la calidad de las calificaciones.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo obteniendo los datos en funci√≥n de las rese√±as y la calificaci√≥n promedio.

</div>

Identifica la editorial que ha publicado el mayor n√∫mero de libros con m√°s de 50 p√°ginas (esto te ayudar√° a excluir folletos y publicaciones similares de tu an√°lisis).

In [6]:
# Consulta para identificar la editorial con el mayor n√∫mero de libros de m√°s de 50 p√°ginas
query = """
SELECT 
    p.publisher_id,
    p.publisher,
    COUNT(b.book_id) AS num_books
FROM 
    publishers p
JOIN 
    books b ON p.publisher_id = b.publisher_id
WHERE 
    b.num_pages > 50
GROUP BY 
    p.publisher_id, p.publisher
ORDER BY 
    num_books DESC
LIMIT 1;
"""

# Ejecutar la consulta y guardar el resultado en un DataFrame
with engine.connect() as connection:
    result = pd.read_sql(query, connection)

# Mostrar el resultado
print("La editorial que ha publicado el mayor n√∫mero de libros con m√°s de 50 p√°ginas es:")
result.head()

La editorial que ha publicado el mayor n√∫mero de libros con m√°s de 50 p√°ginas es:

   publisher_id      publisher  num_books
0           212  Penguin Books         42

Este an√°lisis permite evaluar la productividad de las editoriales en el segmento de libros m√°s extensos, lo que puede ser relevante para entender tendencias en el mercado editorial.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Excelente, has encontrado la editorial con mayor cantidad de publicaciones.

</div>

Identifica al autor que tiene la m√°s alta calificaci√≥n promedio del libro: mira solo los libros con al menos 50 calificaciones.

In [7]:
# Consulta para identificar al autor con la m√°s alta calificaci√≥n promedio
query = """
SELECT 
    a.author_id,
    a.author,
    AVG(rt.rating) AS average_rating,
    COUNT(rt.rating_id) AS num_ratings
FROM 
    authors a
JOIN 
    books b ON a.author_id = b.author_id
JOIN 
    ratings rt ON b.book_id = rt.book_id
GROUP BY 
    a.author_id, a.author
HAVING 
    COUNT(rt.rating_id) >= 50
ORDER BY 
    average_rating DESC
LIMIT 1;
"""

# Ejecutar la consulta y guardar el resultado en un DataFrame
with engine.connect() as connection:
    result = pd.read_sql(query, connection)

# Mostrar el resultado
print("El autor con la m√°s alta calificaci√≥n promedio (con al menos 50 calificaciones) es:")
result.head()

El autor con la m√°s alta calificaci√≥n promedio (con al menos 50 calificaciones) es:

   author_id          author  average_rating  num_ratings
0        130  Diana Gabaldon             4.3           50

Este enfoque permite obtener una visi√≥n clara del desempe√±o de los autores en t√©rminos de calidad percibida por los lectores, excluyendo aquellos con menos interacciones, lo que podr√≠a sesgar los resultados.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Excelente trabajo usando `JOIN` par crear subtables, integrandolas con las cl√°usulas `HAVING` y `GROUP BY`

</div>

Encuentra el n√∫mero promedio de rese√±as de texto entre los usuarios que calificaron m√°s de 50 libros.

In [8]:
# Consulta para encontrar el n√∫mero promedio de rese√±as de texto entre los usuarios que calificaron m√°s de 50 libros
query = """
WITH users_with_high_ratings AS (
    SELECT 
        rt.username
    FROM 
        ratings rt
    GROUP BY 
        rt.username
    HAVING 
        COUNT(rt.book_id) > 50
)
SELECT 
    AVG(review_count) AS average_reviews
FROM (
    SELECT 
        r.username,
        COUNT(r.review_id) AS review_count
    FROM 
        reviews r
    JOIN 
        users_with_high_ratings u ON r.username = u.username
    GROUP BY 
        r.username
) AS review_counts;
"""

# Ejecutar la consulta y guardar el resultado en un DataFrame
with engine.connect() as connection:
    result = pd.read_sql(query, connection)

# Mostrar el resultado
print("El n√∫mero promedio de rese√±as de texto entre los usuarios que calificaron m√°s de 50 libros es:")
result.head()

El n√∫mero promedio de rese√±as de texto entre los usuarios que calificaron m√°s de 50 libros es:

   average_reviews
0        24.333333

muestra que los usuarios que califican m√°s de 50 libros suelen ser m√°s activos y comprometidos con la comunidad literaria. Esto se traduce en una mayor probabilidad de dejar rese√±as, lo que indica una interacci√≥n m√°s profunda con el contenido. Al analizar el promedio de rese√±as de estos usuarios, se puede concluir que su participaci√≥n no solo enriquece su propia experiencia, sino que tambi√©n contribuye al intercambio literario, mejorando la calidad de la retroalimentaci√≥n en las plataformas de lectura.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecta forma de usar el `LEFT JOIN` muy buen trabjo Pamela

</div>